/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the navbar content */
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
}

.navbar-brand img {
  vertical-align: middle;
}

/* Add navbar-button styles */
.navbar-button {
  background-color: #555;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #777;
}

.navbar-button.active {
  background-color: #007bff;
  color: #fff;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin: 0;
}

/* Main content styles */
#main {
  margin-top: 60px;
  margin-bottom: auto;
  text-align: center;
  padding: 0px;
  position: relative;
  height: calc(100vh - 130px);
  /* Adjust height to fill the remaining space */
  flex: 1;
  padding-top: 60px;
  /* Adjust for navbar height */
  overflow: auto;
}

#main h1 {
  font-size: 36px;
  color: #222;
}

#main img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Center the image */
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#footer p {
  margin: 0;
  font-size: 14px;
}